<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/Assets/fontawsome/fontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/Assets/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/Assets/Bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="/Assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" href="/Stylesheet/style.css">
</head>
<body>

<!--/////////////////////////////////////// Main Display ///////////////////////////////////////-->
<div class="login-box">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>
</body>
</html>